body, html {
  background-color: #FAFDFF;
  height: 100%;
}

/* Lust Text Book 
font-family: "lust-text", serif;
font-weight: 400;
font-style: normal;

Lust Text Italic
font-family: "lust-text", serif;
font-weight: 400;
font-style: italic;

Lust Text Bold 
font-family: "lust-text", serif;
font-weight: 700;
font-style: normal;

Lust Text Bold Italic
font-family: "lust-text", serif;
font-weight: 700;
font-style: normal;

Lust Sans Regular
font-family: "lust-sans", sans-serif;
font-weight: 400;
font-style: normal;

Lust Sans Italic
font-family: "lust-sans", sans-serif;
font-weight: 400;
font-style: italic;

Lust Sans Bold
font-family: "lust-sans", sans-serif;
font-weight: 700;
font-style: normal;

Lust Sans Bold Italic
font-family: "lust-sans", sans-serif;
font-weight: 700;
font-style: italic;




/* Heading Styles */
h1 {
  font-size: 125px;
  margin-left: 0px;
  font-family: "lust-text", serif;
  font-weight: 700;
  font-style: italic;
  padding-top: 5%;;
}
h2 {
  font-size: 26px !important;
  margin-left: 0px;
  font-family: "lust-text", serif;
  font-weight: 700;
  font-style: italic;
}
h3 {
  font-size: 50px;
  margin-left: 85px;
  font-family: "lust-text", serif;
  font-weight: 700;
  font-style: italic;
  padding-top: 1%;
}
h4 {
  font-size: -8.5rem;
  font-family: "lust-text", serif;
  font-weight: 400;
  font-style: medium italic;
  margin-left: 0px;
  padding-top: 0%;

}
h6 {
  font-size: 14px;
  margin-left: 0px;
  font-family: "lust", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 0%; 
  align-items: 30px::after;
}

/* Text Styles */
h5 {
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 0%;
}

p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  }

.popuptext {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  text-align-last: auto;
}

/* Hero Section */
.hero_content {
  background-color: #C8D9E3;
}

#cat {
  margin-top: 50px;;
  margin-left: 75px;
  margin-bottom: 50px;
  height: auto;
  width: auto;
  max-width: 250px;
  height: 250px;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  }

  #quote {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 0%;
  height: auto;
  width: auto;
  align-content: center;
  justify-content: left;
  }

.envelopeemail-icon {
  height: 30px;
  width: auto;
}

.grid-item-icons {
  margin-left: 100px;
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-items: center;
}

/* Section Opening */
.grid-container {
display: grid;
grid-template-areas: 
  "cat" "quote quote";
grid-template-columns: 400px 1fr;
grid-template-rows: auto;
gap: 10px; 
}
.grid-item {
padding: 10px;
}

/* Section resumeAbout */
#resumeAbout {
height: 100px;
}
.inline-block2 {
display: inline-block;
}
.block_element2 {
float: left;
margin-top: 20px;
}
#dwchevron {
vertical-align: bottom;
}


/* NavBar */
nav {
  height: 40px;
  width: 100%;
  background-color: #C8D9E3;
}
.inline-block {
  display: inline-block;
  padding: 0px;
}
.block_element {
  float: right;
  margin-top: 0px;
}

/* unvisited link */
a:link {
color: black;
}

/* visited link */
a:visited {
color: black;
}

/* mouse over link */
a:hover {
color: #C8D9E3;
}

/* selected link */
a:active {
color: #758A96;
}

/* Popup container */
.popup {
position: relative;
display: inline-block;
cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
visibility: hidden;
width: 400px;
background-color: #555;
color: #fff;
text-align: left;
border-radius: 5px;
padding: 8px 0;
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
visibility: visible;
-webkit-animation: fadeIn 1s;
animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
from {opacity: 0;}
to {opacity: 1;}
}

@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1 ;}
}



/* portfolioGrid */
#portfolio {
  background-color: #FAFDFF;
}
.container-fluid {
  background-color: #FAFDFF;
}
.card-text {
  font-size: 16px !important;
  font-family: 'Open Sans', sans-serif !important;
}

.btn-primary {
background-color: #758A96 !important;
outline-color: #758A96 !important;
outline: none !important;
box-shadow: none !important;
align-items: bottom !important;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #CCB899 !important;
  outline-color: #CCB899 !important;
  color: black;
  outline: none !important;
  box-shadow: none !important;
  }

.btn-primary:visited {
    background-color: #AFA0A0 !important;
    outline-color: #AFA0A0 !important;
    outline: none !important;
    box-shadow: none !important;
    }

.container-fluid {
  margin-left: 75px;
}
    
.cardContainer {
margin-bottom: 50px;
}
.card {
margin: 100px auto;
}
.card-img-top {
max-width: 100%;
height: auto;
}


footer {
  height: 40px;
  width: 100%;
  background-color: #C8D9E3;
  clear: both;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #FAFDFF;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: black;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #AFA0A0;
  text-decoration: underline;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Group\ 5ftc-hero.png");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.hero-image-cookn {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/What\'s_Cook_N.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.hero-image-ftc {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/FTC.png");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.hero-image-achs {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/LOGO\ big\ horizontal.png");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}


/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
